{% extends 'base.html.twig' %}

{% block title %}Заполнение вормы{% endblock %}

{% block body %}
    <h2 class="mb-5">
        Заполнение формы
    </h2>

    <div class="row">
        <div class="col-sm-5"></div>
    </div>
{% endblock %}
